@import "./base.css";

:root {
  --vt-c-indigo: #566472;
  --vt-c-indigo-dark-1: #415161;
  --vt-c-indigo-dark-2: #2c3e50;

  --vt-c-green: #009578;
  --vt-c-green-dark-1: #008168;
  --vt-c-green-dark-2: #006e58;

  --vt-c-red: #db3131;
  --vt-c-red-dark-1: #d81b1b;
  --vt-c-red-dark-2: #c21818;

  --vt-c-blue: #5091cb;
  --vt-c-blue-dark-1: #578cbb;
  --vt-c-blue-dark-2: #4e7ea8;

  --vt-c-sky: #7cb4d5;
  --vt-c-sky-dark-1: #8bb4cb;
  --vt-c-sky-dark-2: #6fa2bf;
}

.button {
  display: inline-flex;
  height: 40px;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: white;
  height: 100%;
}

/* Report button */

.report {
  background: var(--vt-c-red);
  margin-right: 20px;
}

.report:hover {
  background-color: var(--vt-c-red-dark-1);
}

.report:active {
  background-color: var(--vt-c-red-dark-2);
}

/* Load button */

.load {
  background: var(--vt-c-green);
}

.load:hover {
  background-color: var(--vt-c-green-dark-1);
}

.load:active {
  background-color: var(--vt-c-green-dark-2);
}

/* Analyze button */

.analyze {
  background: var(--vt-c-indigo);
}

.analyze:hover {
  background-color: var(--vt-c-indigo-dark-1);
}

.analyze:active {
  background-color: var(--vt-c-indigo-dark-2);
}

/* Close Button */

.close {
  background: var(--vt-c-blue);
}

.close:hover {
  background-color: var(--vt-c-blue-dark-1);
}

.close:active {
  background-color: var(--vt-c-blue-dark-2);
}

/* Select Button */

.select {
  background: var(--vt-c-sky);
}

.select:hover {
  background-color: var(--vt-c-sky-dark-1);
}

.select:active {
  background-color: var(--vt-c-sky-dark-2);
}

.button__icon {
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.08);
}

.file-upload {
  position: relative;
  display: inline-block;
}

.form-control {
  display: none; /* Hides the original input file */
}

.file-name {
  margin-left: 10px;
  font-style: italic;
}

/******************************** New CSS ***************************************/
.container {
  display: grid;
  grid-template-columns: 1fr 200px; /* Colonna principale e colonna laterale */
  width: 100%;
  height: 100vh; /* Occupa tutta l'altezza della viewport */
}

.content {
  padding: 20px; /* Spaziatura interna per il contenuto principale */
  overflow-y: auto; /* Permette lo scroll se il contenuto è troppo lungo */
}

.sidebar {
  position: relative; /* Necessario per posizionare la linea verticale */
  padding: 20px;
  overflow-y: auto;
  width: 200px;
  margin-top: 100px;
}

.btn_chapter {
  border: none;
  background-color: var(--vt-c-white);
  margin: 2px;
  font-weight: 500;
  position: relative; /* Necessario per posizionare la linea accanto al pulsante */
  font-size: 1.1em;
  color: var(--vt-c-divider-dark-1);
}

.btn_chapter:hover {
  color: var(--vt-c-blue-dark-2);
}

.indicator {
  position: absolute;
  left: -10px; /* Posiziona la linea a sinistra dei pulsanti */
  width: 5px;
  height: 20px; /* Altezza della linea */
  background-color: var(--vt-c-blue-dark-2); /* Colore della linea */
  transition: transform 0.1s ease; /* Animazione per il movimento della linea */
  z-index: 0; /* Assicura che la linea sia sotto i pulsanti */
  /* To align button and indicator */
  margin-left: 25px;
  border-radius: 2px;
  margin-top: -42px;
}

.title_sidebar {
  color: var(--color-text);
  font-size: 1.1em;
  font-weight: 500;
  margin-left: 8px;
  margin-bottom: 0px;
}

.title {
  margin-left: -22px;
  overflow: visible;
  max-width: fit-content;
}

.title:hover .tag {
  color: var(--vt-c-blue);
  opacity: 1;
}

.tag {
  display: inline-block;
  color: white;
  opacity: 0;
  transition: opacity 1s ease, color 1s ease;
}

.chapter {
  display: inline-block;
  color: var(--color-text);
}

.paragraph_content ul {
  margin: 0px;
}

.paragraph_content {
  margin-bottom: 15px;
}

.paragraph_content strong {
  color: var(--vt-c-blue);
}

/**************** PAGINATION *************************/

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--vt-c-blue-dark-2);
  color: white;
  border: none;
  border-radius: 5px;
}

.pagination button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
}

.pagination input[type="number"] {
  width: 50px;
  text-align: center;
  margin: 0 10px;
  padding: 10px 5px;
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  .table td {
    color: var(--vt-c-white);
  }
}
